on:
    - push

name: Build

jobs:
  build-macos:
    name: Build for macOS
    runs-on: macos-26
    if: github.ref == 'refs/heads/release' || github.ref == 'refs/heads/macapp'
    environment: release
    steps:
      - name: Clone repository
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Set up Flutter
        uses: subosito/flutter-action@v2
        with:
          channel: stable

      - uses: ./.github/actions/build-info

      - name: Build & push
        run: |
          brew install pipx
          pipx install codemagic-cli-tools
          pushd app
          ./build-macos.sh
        env:
          APP_STORE_CONNECT_API_KEY_ISSUER_ID: ${{ secrets.APP_STORE_CONNECT_API_KEY_ISSUER_ID }}
          APP_STORE_CONNECT_API_KEY_KEY_ID: ${{ secrets.APP_STORE_CONNECT_API_KEY_KEY_ID }}
          APP_STORE_CONNECT_API_KEY_KEY: ${{ secrets.APP_STORE_CONNECT_API_KEY_KEY }}
          AZURE_MAPS_SUBSCRIPTION_KEY: ${{ secrets.AZURE_MAPS_SUBSCRIPTION_KEY }}
          DEVELOPER_ID_APPLICATION_CERT: ${{ secrets.DEVELOPER_ID_APPLICATION_CERT }}
          MAC_APP_DISTRIBUTION_CERT: ${{ secrets.MAC_APP_DISTRIBUTION_CERT }}

      - name: Save artifacts (macOS)
        uses: actions/upload-artifact@v4
        with:
          path: app/macos/Bubbletrail.zip
          name: bubbletrail-macos-${{ env.MARKET_VERSION }}

  build-ios:
    name: Build for iOS
    runs-on: macos-26
    if: github.ref == 'refs/heads/release'
    environment: release
    steps:
      - name: Clone repository
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Set up Flutter
        uses: subosito/flutter-action@v2
        with:
          channel: stable

      - uses: ./.github/actions/build-info

      - name: Build & push
        run: |
            security create-keychain -p $MATCH_KEYCHAIN_PASSWORD $MATCH_KEYCHAIN_NAME
            security unlock-keychain -p $MATCH_KEYCHAIN_PASSWORD $MATCH_KEYCHAIN_NAME
            security set-keychain-settings -lut 21600 $MATCH_KEYCHAIN_NAME
            security default-keychain -d user -s $MATCH_KEYCHAIN_NAME

            cd app
            flutter pub get
            flutter build ipa \
                --release --no-pub --no-codesign \
                --build-number="$BUILD_NUMBER" \
                --build-name="$MARKET_VERSION" \
                --dart-define=AZURE_MAPS_SUBSCRIPTION_KEY="$AZURE_MAPS_SUBSCRIPTION_KEY" \
                --dart-define=BUILD="$BUILD_NUMBER" \
                --dart-define=BUILDSECONDS="$SOURCE_DATE_EPOCH" \
                --dart-define=GITSHA="$GIT_SHA" \
                --dart-define=MARKETINGVERSION="$MARKET_VERSION"

            cd ios
            fastlane push
        env:
          APP_STORE_CONNECT_API_KEY_ISSUER_ID: ${{ secrets.APP_STORE_CONNECT_API_KEY_ISSUER_ID }}
          APP_STORE_CONNECT_API_KEY_KEY_ID: ${{ secrets.APP_STORE_CONNECT_API_KEY_KEY_ID }}
          APP_STORE_CONNECT_API_KEY_KEY: ${{ secrets.APP_STORE_CONNECT_API_KEY_KEY }}
          AZURE_MAPS_SUBSCRIPTION_KEY: ${{ secrets.AZURE_MAPS_SUBSCRIPTION_KEY }}
          MATCH_GIT_BASIC_AUTHORIZATION: ${{ secrets.MATCH_GIT_BASIC_AUTHORIZATION }}
          MATCH_GIT_URL: ${{ secrets.MATCH_GIT_URL }}
          MATCH_KEYCHAIN_NAME: ${{ runner.temp }}/bubbletrain.keychain
          MATCH_KEYCHAIN_PASSWORD: ${{ secrets.MATCH_KEYCHAIN_PASSWORD }}
          MATCH_PASSWORD: ${{ secrets.MATCH_PASSWORD }}
