on:
    - pull_request
    - push
    - workflow_dispatch

name: Build

jobs:
  test:
    name: Run tests
    runs-on: ubuntu-latest
    steps:
      - name: Clone repository
        uses: actions/checkout@v4

      - name: Set up Flutter
        uses: subosito/flutter-action@v2
        with:
          channel: stable

      - name: Run tests (divestore)
        run: |
          pushd pkg/divestore
          dart pub get
          dart analyze --fatal-infos
          dart format --output=none --set-exit-if-changed $(find . -name \*.dart -not -name \*.g.dart)
          dart test

      - name: Run tests (app)
        run: |
          pushd app
          dart pub get
          dart analyze --fatal-infos
          dart format --output=none --set-exit-if-changed $(find . -name \*.dart -not -name \*.pb\*.dart)
          # dart test


  build-macos:
    name: Build for macOS (direct)
    runs-on: macos-26
    if: (github.event_name == 'push' || github.event_name == 'workflow_dispatch') && (github.ref == 'refs/heads/release' || github.ref == 'refs/heads/beta')
    environment: release
    needs:
      - test
    steps:
      - name: Clone repository
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Set up Flutter
        uses: subosito/flutter-action@v2
        with:
          channel: stable

      - uses: ./.github/actions/build-info

      - name: Build & push
        run: |
          pipx install codemagic-cli-tools
          pushd app
          ./build-macos-direct.sh
        env:
          APP_STORE_CONNECT_API_KEY_ISSUER_ID: ${{ secrets.APP_STORE_CONNECT_API_KEY_ISSUER_ID }}
          APP_STORE_CONNECT_API_KEY_KEY_ID: ${{ secrets.APP_STORE_CONNECT_API_KEY_KEY_ID }}
          APP_STORE_CONNECT_API_KEY_KEY: ${{ secrets.APP_STORE_CONNECT_API_KEY_KEY }}
          AZURE_MAPS_SUBSCRIPTION_KEY: ${{ secrets.AZURE_MAPS_SUBSCRIPTION_KEY }}
          DEVELOPER_ID_APPLICATION_CERT: ${{ secrets.DEVELOPER_ID_APPLICATION_CERT }}
          MAC_APP_DISTRIBUTION_CERT: ${{ secrets.MAC_APP_DISTRIBUTION_CERT }}

      - name: Save artifacts (macOS)
        uses: actions/upload-artifact@v4
        with:
          path: app/bubbletrail*.zip

      ## Now create and publish the appcast

      - name: install rclone
        run: |
          curl https://rclone.org/install.sh | sudo bash

      - name: rclone download
        run: |
          rclone sync minio:updates updates
        env:
          RCLONE_CONFIG_MINIO_TYPE: ${{ secrets.RCLONE_CONFIG_MINIO_TYPE }}
          RCLONE_CONFIG_MINIO_PROVIDER: ${{ secrets.RCLONE_CONFIG_MINIO_PROVIDER }}
          RCLONE_CONFIG_MINIO_ACCESS_KEY_ID: ${{ secrets.RCLONE_CONFIG_MINIO_ACCESS_KEY_ID }}
          RCLONE_CONFIG_MINIO_SECRET_ACCESS_KEY: ${{ secrets.RCLONE_CONFIG_MINIO_SECRET_ACCESS_KEY }}
          RCLONE_CONFIG_MINIO_REGION: ${{ secrets.RCLONE_CONFIG_MINIO_REGION }}
          RCLONE_CONFIG_MINIO_ENDPOINT: ${{ secrets.RCLONE_CONFIG_MINIO_ENDPOINT }}
          RCLONE_CONFIG_MINIO_ACL: ${{ secrets.RCLONE_CONFIG_MINIO_ACL }}

      - name: Copy new package
        run: |
          cp app/bubbletrail*zip updates

      - name: Generate appcast
        run: |
          echo "$SPARKLE_PRIVATE_KEY" | \
            ./app/macos/Pods/Sparkle/bin/generate_appcast \
            --ed-key-file - updates
        env:
          SPARKLE_PRIVATE_KEY: ${{ secrets.SPARKLE_PRIVATE_KEY }}

      - name: rclone upload
        run: |
          rclone sync  -v --no-update-modtime updates minio:updates
        env:
          RCLONE_CONFIG_MINIO_TYPE: ${{ secrets.RCLONE_CONFIG_MINIO_TYPE }}
          RCLONE_CONFIG_MINIO_PROVIDER: ${{ secrets.RCLONE_CONFIG_MINIO_PROVIDER }}
          RCLONE_CONFIG_MINIO_ACCESS_KEY_ID: ${{ secrets.RCLONE_CONFIG_MINIO_ACCESS_KEY_ID }}
          RCLONE_CONFIG_MINIO_SECRET_ACCESS_KEY: ${{ secrets.RCLONE_CONFIG_MINIO_SECRET_ACCESS_KEY }}
          RCLONE_CONFIG_MINIO_REGION: ${{ secrets.RCLONE_CONFIG_MINIO_REGION }}
          RCLONE_CONFIG_MINIO_ENDPOINT: ${{ secrets.RCLONE_CONFIG_MINIO_ENDPOINT }}
          RCLONE_CONFIG_MINIO_ACL: ${{ secrets.RCLONE_CONFIG_MINIO_ACL }}

  build-ios:
    name: Build for iOS (Appstore)
    runs-on: macos-26
    if: (github.event_name == 'push' || github.event_name == 'workflow_dispatch') && (github.ref == 'refs/heads/release' || github.ref == 'refs/heads/beta')
    environment: release
    needs:
      - test
    steps:
      - name: Clone repository
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Set up Flutter
        uses: subosito/flutter-action@v2
        with:
          channel: stable

      - uses: ./.github/actions/build-info

      - name: Build & push
        run: |
            security create-keychain -p $MATCH_KEYCHAIN_PASSWORD $MATCH_KEYCHAIN_NAME
            security unlock-keychain -p $MATCH_KEYCHAIN_PASSWORD $MATCH_KEYCHAIN_NAME
            security set-keychain-settings -lut 21600 $MATCH_KEYCHAIN_NAME
            security default-keychain -d user -s $MATCH_KEYCHAIN_NAME

            cd app
            flutter pub get
            flutter build ipa \
                --release --no-pub --no-codesign \
                --build-number="$BUILD_NUMBER" \
                --build-name="$MARKET_VERSION" \
                --dart-define=AZURE_MAPS_SUBSCRIPTION_KEY="$AZURE_MAPS_SUBSCRIPTION_KEY" \
                --dart-define=BUILD="$BUILD_NUMBER" \
                --dart-define=BUILDSECONDS="$SOURCE_DATE_EPOCH" \
                --dart-define=GITSHA="$GIT_SHA" \
                --dart-define=MARKETINGVERSION="$MARKET_VERSION"

            cd ios
            fastlane push
        env:
          APP_STORE_CONNECT_API_KEY_ISSUER_ID: ${{ secrets.APP_STORE_CONNECT_API_KEY_ISSUER_ID }}
          APP_STORE_CONNECT_API_KEY_KEY_ID: ${{ secrets.APP_STORE_CONNECT_API_KEY_KEY_ID }}
          APP_STORE_CONNECT_API_KEY_KEY: ${{ secrets.APP_STORE_CONNECT_API_KEY_KEY }}
          AZURE_MAPS_SUBSCRIPTION_KEY: ${{ secrets.AZURE_MAPS_SUBSCRIPTION_KEY }}
          MATCH_GIT_BASIC_AUTHORIZATION: ${{ secrets.MATCH_GIT_BASIC_AUTHORIZATION }}
          MATCH_GIT_URL: ${{ secrets.MATCH_GIT_URL }}
          MATCH_KEYCHAIN_NAME: ${{ runner.temp }}/bubbletrain.keychain
          MATCH_KEYCHAIN_PASSWORD: ${{ secrets.MATCH_KEYCHAIN_PASSWORD }}
          MATCH_PASSWORD: ${{ secrets.MATCH_PASSWORD }}

  publish-release:
    name: Publish GitHub release
    if: (github.event_name == 'push' || github.event_name == 'workflow_dispatch') && github.ref == 'refs/heads/release'
    permissions:
      contents: write
    needs:
      - build-macos
    runs-on: ubuntu-latest
    steps:
      - name: Clone repository
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - uses: dart-lang/setup-dart@v1
      - uses: ./.github/actions/build-info

      - name: Download packages
        uses: actions/download-artifact@v7
        with:
          path: packages

      - name: Create GitHub releases and push binaries
        run: |
          export GH_PROMPT_DISABLED=1

          # If a release does not yet exist, create one
          if ! gh release view --json name "$MARKET_VERSION" >/dev/null 2>&1 ; then
            gh release create "$MARKET_VERSION" \
              --draft \
              --generate-notes \
              --target ${{ github.sha }} \
              --title "$MARKET_VERSION"
          fi

          # Upload packages to the release
          gh release upload --clobber "$MARKET_VERSION" \
            packages/*.zip

          # Once packages are uploaded, publish the release
          gh release edit "$MARKET_VERSION" --draft=false
        env:
          GH_TOKEN: ${{ github.token }}

  build-server:
    name: Build admin server
    runs-on: ubuntu-latest
    permissions:
      packages: write
    if: (github.event_name == 'push' || github.event_name == 'workflow_dispatch') && (github.ref == 'refs/heads/release' || github.ref == 'refs/heads/main')
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - uses: actions/setup-go@v5
        with:
          go-version: stable

      - uses: ko-build/setup-ko@v0.6

      - name: Log in to GHCR
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - run: |
          descr=$(git describe --tags)
          short=$(git describe --tags --abbrev=0)
          pushd srv
          if [[ $descr == $short ]]; then
            minor="${version%.*}"
            major="${version%%.*}"
            ko build --bare --sbom=none -t edge -t latest -t "$version" -t "$minor" -t "$major" .
          else
            ko build --bare --sbom=none -t edge .
          fi
        env:
          KO_DOCKER_REPO: ghcr.io/${{ github.repository }}-admin-srv
